.bord:hover {
    border-bottom: 5px solid black
}
.col:hover {
    color: red;
}
.back:hover {
    background-color: yellowgreen;
}
.fs:hover {
    font-size: x-large;
}
.fw:hover {
    font-weight: bold;
}
.optdiv:hover {
     border-top: 5px dashed brown;
     border-bottom: 5px dashed brown;


}
.optdiv {
    width: 150px;
    height: 50px;
    box-sizing: border-box;


    border-top: 5px dashed transparent;
    border-bottom: 5px dashed transparent;
    padding: 10px;
    margin: 30px;
}

