.flex-container {
    width: auto;
    height: 800px;
    display: flex;
    flex-direction: row;

}
.element {
    width: 100px;
    height: 400px;
    background-color: cornsilk;
    margin-left: 30px;
    margin-right: 30px;
    align-items: flex-start;
}
.element:nth-child(1) {
    align-self: flex-end;
}
.element:nth-child(5) {
    align-self: flex-end;
    background-color: darkred;
}
.element:nth-child(3) {
    align-self: center;
    background-color: darkgreen;
}
.element:nth-child(7) {
    background-color: palevioletred;
}